<%- include('../../../templates/organizerNavbar.ejs') -%>
    <!--==========================
  Services Section
============================-->
  <section id="services">
    <div class="container wow fadeInUp"  style="min-height:400;">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">PAID ACCOUNTS</h3>
          <div class="section-title-divider"></div>
     
        </div>
      </div>
        
 
  </section>

	  
	  
  
<%- include('../../../templates/footer.ejs') -%>