<%- include('../../../templates/businessmanNavbar.ejs') -%>  
    <!--==========================
  Services Section
============================-->
  <section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">DASHBOARD</h3>
          <div class="section-title-divider"></div>
     
        </div>
      </div>
        
      <div class="row">
        <!-- YOUR CODES HERE -->
		
		<div class="row" >
    <div class="col-6 col-md-4"></div>
    <div class="col-6 col-md-4">
        <fieldset class="well the-fieldset" style="border-color: black; border-width: 3px; background-color: light gray">

               <div class="card" style="width: 20rem;">
                <div class="card-block" >
                
                <h4 class="card-title"><strong>Reservation Requests</strong></h4>
                <br>
                <div class="my-overflow" style="overflow-y: auto;height: 100px; max-height: 100px; width: 370px">
                <h4>There are <strong><%= transact %></strong> Item and Service Requests.</h4>
                </div>
                <br>
                <form>
					<button type="submit" class="btn btn-primary" formmethod="get" formaction="/businessman/reservations">See</button>
				</form>
                </div>
                </div>

        </fieldset> 
    </div>

    
    
	<!-- END OF YOUR CODES -->
      </div>
    </div>  
  </section>

  <%- include('../../../templates/footer.ejs') -%>